In [1]:
import pandas as pd

In [2]:
air = pd.read_csv('airquality.csv')

In [3]:
air.shape
air.head()
air.tail()
air.info()
air.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  153 non-null    int64
 1   Ozone       116 non-null    float64
 2   Solar.R     146 non-null    float64
 3   Wind        153 non-null    float64
 4   Temp        153 non-null    int64
 5   Month       153 non-null    int64
 6   Day         153 non-null    int64
dtypes: float64(3), int64(4)
memory usage: 8.5 KB

,Unnamed: 0,Ozone,Solar.R,Wind,Temp,Month,Day
count,153.000000,116.000000,146.000000,153.000000,153.000000,153.000000,153.000000
mean,77.000000,42.129310,185.931507,9.957516,77.882353,6.993464,15.803922
std,44.311398,32.987885,90.058422,3.523001,9.465270,1.416522,8.864520
min,1.000000,1.000000,7.000000,1.700000,56.000000,5.000000,1.000000
25%,39.000000,18.000000,115.750000,7.400000,72.000000,6.000000,8.000000
50%,77.000000,31.500000,205.000000,9.700000,79.000000,7.000000,16.000000
75%,115.000000,63.250000,258.750000,11.500000,85.000000,8.000000,23.000000
max,153.000000,168.000000,334.000000,20.700000,97.000000,9.000000,31.000000

In [4]:
air.count()

Unnamed: 0    153
Ozone         116
Solar.R       146
Wind          153
Temp          153
Month         153
Day           153
dtype: int64

In [5]:
air.isnull().sum()

Unnamed: 0     0
Ozone         37
Solar.R        7
Wind           0
Temp           0
Month          0
Day            0
dtype: int64

In [6]:
A = air.dropna()

In [7]:
A.shape

(111, 7)

In [9]:
A = air.fillna(0)

In [10]:
A = air.fillna(method='pad')

C:\Users\sk306\AppData\Local\Temp\ipykernel_24360\530883615.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  A = air.fillna(method='pad')

In [11]:
A = air.fillna(method='backfill')

C:\Users\sk306\AppData\Local\Temp\ipykernel_24360\1470579912.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  A = air.fillna(method='backfill')

In [12]:
import numpy as np

In [14]:
A = air['Ozone'].replace(np.nan, air['Ozone'].mean())

In [15]:
A = air['Ozone'].replace(np.nan, air['Ozone'].median()) 
A = air['Ozone'].replace(np.nan, air['Ozone'].mode()[0])

In [ ]:
from sklearn.impute import SimpleImputer